doctype html 
html(lang="en")
    head
        title Natours | Exciting tours for adventurous people
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
    body 
        // HEADER
        header.headrer
            nav.nav.nav--tours
                a.nav__el(href='#') All tours 
                form.nav__search
            .header__logo
                img(src='img/log-white.png' alt='Natours logo')
            nav.nav.nav--user
                //- a.nav-el(href="#") My bookings
                //- a.nav-el(href="#")    
                //-     img.nav__user-img(src="", alt="")(src="img/user.jpg" alt="User photo")
                //-     span Elide
                button.nav__el Log in    
                button.nav__el.nav__el--cta Sign up  

        // CONTENT
        